<p>
	<h1><%= t('.title') %></h1>
	<% if current_user %>
		<h3>Bem-vindo <%= current_user.name %></h3>
		<a class="btn btn-default" href="/logout">Sair</a>
	<% else %>
		<a class="btn btn-success" href="/auth/github">Login com GitHub!</a>
	<% end %>
</p>